html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5em;
  text-align: center;
  margin: 1em;
}

.btn {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  border-radius: 8px;
  border-width: 3px;
  padding: .6em;
}

a:hover {
  background-color: #000;
}

.btn-subtle {
  background-color: #ccc;
}

.btn-subtle:hover {
  background-color: #333;
}

.btn-ghost {
  border: 3px solid black;
  background-color: white;
  color: black;
}

.btn-ghost:hover {
  background-color: #333;
  color: white;
  border: 3px solid #333;
}

.btn-warning {
  background-color: #f33;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-small {
  font-size: .875rem;
  padding: .75em;
}

.btn-big {
  font-size: 1.5rem;
  padding: .4em;
}
