html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
  margin: 1em;
}

.btn {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em;
}

a:hover {
  background-color: #000;
}

.btn-subtle {
  background-color: #666;
}

.btn-subtle:hover {
  background-color: #333;
}
